
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">

{% block content%}
<html lang="en">

<body>
    <div class="container" >
      <div class="row">
        <div class="col col-md-4 offset-md-4 cardtext-center" style="width: 20rem; ">
          <img class="card-img-top" src="http://duckietown.org/media/duckie2.png">
          <div class="card-body">
            <h4 class="card-title">Dockie Lolita</h4>
            <p class="card-text">Current State: {{ state }}</p>
            <p class="card-text">Current Location: {{ location }}</p>
          </div>
          <form action="/changeLocation" method="post">
            <input class="btn btn-primary btn-lg btn-block" type="submit" name="location" value="Leave Home"/>
            <input class="btn btn-primary btn-lg btn-block" type="submit" name="location" value="Room A"/>
            <input class="btn btn-primary btn-lg btn-block" type="submit" name="location" value="Room B"/>
            <input class="btn btn-primary btn-lg btn-block" type="submit" name="location" value="Room C"/>
          </form>
          <div class="card-body">
            <a href="/display" class="card-link">Environment Data</a>
          </div>
      </div>
    </div>
  </div>

</body>
</html>
{% endblock %}
